%fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
%transition {
  transition: all ease-in-out 0.3s;
}

.menu {
  .menu-items {
    display: flex;
    flex-direction: column;

    button {
      @extend %transition;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .menu-item {
      transform: translate(200px, 0px);
    }
    .secondary {
      @extend %fixed;
      transform: scale(0) rotate(360deg);
    }

    &.open {
      .menu-item {
        transform: translate(0px, 0px);
      }
      .primary {
        transform: scale(0) rotate(360deg);
        rotate: 360deg;
      }
      .secondary {
        transform: scale(1) rotate(0deg);
        rotate: 0deg;
      }
    }
  }
}
